<form>
    <h4>{{message}}</h4>
    <div class="username">
        <label for="username">Username: </label>
        <input type="text" name="username" placeholder="Enter your username..">
    </div>

    <div>
        <label for="password">Password: </label>
        <input type="text" name="password" placeholder="Enter your password..">
    </div>

    <button type="button" (click)="onLoginClicked()">Login</button>

</form>

