<app-login [message]="'Login'"
(loginAttempted)="onLoginAttempted($event)"></app-login>

<app-register [message]="'Or Register here..'"
(registerAttempt)="onRegisterAttepted($event)"></app-register>

<router-outlet></router-outlet>

