<h4>{{message}}</h4>

<div class="username">
    <label for="username">Username: </label>
    <input type="text" name="username" placeholder="Enter your username..">
</div>

<div class="email">
    <label for="email">Email: </label>
    <input type="text" name="email" placeholder="Enter your email..">
</div>

<div class="password">
    <label for="password">Password: </label>
    <input type="text" name="password" placeholder="Enter your password..">
</div>

<div class="confirm">
    <label for="confirm">Confirm Password: </label>
    <input type="text" name="confirm" placeholder="Confirm your password..">
</div>

<button type="button" (click)="onRegisterClicked()">Register</button>
