/* .username {
    margin-left: 100px;
}

.email {
    margin-left: 100px;
} */

/* input {
    display: block
} */

.username {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-right: 69%;
}

.email {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-right: 69%;
} 

.password {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-right: 69%;
} 

.confirm {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-right: 69%;
} 